[submodule "app/plugins/debug_kit"]
	path = app/plugins/debug_kit
	url = http://github.com/cakephp/debug_kit.git
[submodule "app/plugins/twitter_kit"]
	path = app/plugins/twitter_kit
	url = http://github.com/elstc/twitter_kit.git
